<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xazhao.demo.mapper.HllcDocLayoutFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xazhao.demo.entity.HllcDocLayoutForm">
        <result column="id" property="id"/>
        <result column="row_seq" property="rowSeq"/>
        <result column="column_seq" property="columnSeq"/>
        <result column="row_count" property="rowCount"/>
        <result column="column_count" property="columnCount"/>
        <result column="cascade_value" property="cascadeValue"/>
        <result column="tab_id" property="tabId"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="field_id" property="fieldId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        row_seq, column_seq, row_count, column_count, cascade_value, tab_id, object_version_number, created_by, creation_date, last_updated_by, last_update_date, field_id
    </sql>

    <select id="selectByTabId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from hllc_doc_layout_form
        where tab_id = #{tabId}
    </select>
</mapper>
